{% extends 'base.html.twig' %}

{% block title %}Ajouter une opération{% endblock %}

{% block body %}
    <h2>Ajouter une opération pour le compte:{#  {{ utilisateur.login }}#}</h2>
    <div class="divider"></div>
    {{ form_start(form) }}
    {{ form_row(form.typeOperation) }}
    {{ form_row(form.montant) }}

    {{ form_end(form) }}
    {#  <a href="{{ path('compte_view', {id: utilisateur.id}) }}" class="btn btn-secondary">Annuler</a>#}
{% endblock %}
